.img-representation i {
  display: grid;
  place-items: center;
  color: black;
  font-size: 6rem;
  margin: 2rem 0rem;
}
.temperature,
.day-time {
  text-align: center;
}
.degree {
  font-size: 1.1rem;
}
.extra-data {
  margin: 2rem 0rem;
}
.upper-half {
  margin: 1rem 0rem;
}
h4 i {
  margin: 0rem 0.3rem 0rem 0rem;
}
.extra-data > h4 {
  padding: 0.2rem 0rem;
  font-weight: 300;
}
.hr-line {
  border-bottom: 1px solid rgba(238, 238, 238);
}
.place-image-div {
  height: 200px;
}
.place-image {
  border-radius: 20px;
  max-width: 100%;
  height: auto;
}
